<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OpenLayers-vworld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css">
    <script type="text/javascript"
            src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=E968F8D8-C4D0-33B0-8F1D-392239886745&domain=http://localhost:9191/"></script>
    <link href="/css/infoFooter.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/complaint/main.css}">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/HanRiverMap/info">지도 정보</a></li>
                <li><a href="/complaint/main">민원 게시판</a></li>
                <li><a href="/approval/main">용수 신청</a></li>
                <li><a href="/notice/list">공지 사항</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <a href="#">여긴</a>
            <a href="#">일단</a>
            <a href="#">공백</a>
        </div>
        <div class="col-sm-8" style="width: 930px; height: 60vh">
            <div class="title">
                <h2>민원 게시판</h2>
            </div>
            <div class="searchWrap">
<form action = "/complaint/search" method="get">
<input type="date" id = "date1" name = "startDate" th:value = "${startDate}"> ~ <input type="date" id = "date2" name = "endDate">
<select id = "period">
<option>기간</option>
<option value = "7">1주</option>
<option value = "30">1개월</option>
<option value = "90">3개월</option>
<option value = "180">6개월</option>
</select><br>
<input type="text" th:value="${keyword}" name = "keyword" id="keyword">
<input type="submit" value="검색">
</form>
</div>
            <div class="table">
                <table>
                    <colgroup>
                        <col style="width:8%">
                        <col style="width:15%">
                        <col style="width:30%">
                        <col style="width:10%">
                        <col style="width:15%">
                        <col style="width:7%">
                        <col style="width:10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>등록 번호</th>
                        <th>민원 소재지</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일자</th>
                        <th>조회수</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${list.size > 0}" th:each = "com : ${list}">
                        <td th:text="${com.cno}" id = "cno"></td>
                        <td th:text="${com.c_loc}"></td>
                        <td>
                            <svg th:if="${com.secret} == 1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                            </svg><a th:text="${com.ctitle}" th:data-cno="${com.cno}" th:data-secret="${com.secret}" onclick="checkPw(this)"></a>
                        </td>
                        <td th:text="${com.cuname}" id = "cuname"></td>
                        <td th:text="${com.regDate}"></td><td th:text="${com.c_count}"></td>
                        <td th:text="${com.status}" id = "status"></td>
                    </tr>
                        <tr th:if="${list.size == 0}">
                        <td colspan = "7">조회 결과가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
<ul class="pagination pagination-sm" th:if="${total_count}>0" style="justify-content : center;">
    <li th:classappend="${endPage < 6} ? 'page-item disabled' : 'page-item'">
        <a class="page-link" th:href="@{/complaint/search(keyword=${keyword}, pageNum=${startPage-5}, startPage=${startPage-5}, startDate=${startDate}, endDate=${endDate})}"><<</a>
    </li>
    <li th:each="i:${#numbers.sequence(startPage, endPage)}" th:classappend="${pageNum == i} ? 'page-item active' : 'page-item'">
        <a th:href="@{/complaint/search(keyword=${keyword}, pageNum=${i}, startPage=${startPage}, startDate=${startDate}, endDate=${endDate})}" class="page-link">[[${i}]]</a></li>
    <li th:classappend="${endPage == total_page} ? 'page-item disabled' : 'page-item'">
        <a class="page-link" th:href="@{/complaint/search(keyword=${keyword}, pageNum=${endPage+1}, startPage = ${endPage+1}, startDate=${startDate}, endDate=${endDate})}">>></a>
    </li>
</ul>
</div>

    </div>
</div>

<br>

<div id="footer">

    <div class="mnu">

        <ul class="mn">
            <li style="font-size: 12px"><a href="/web/guidePage/siteGuide.do">홈페이지 이용안내</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/copyright.do">저작권 정책</a></li>
            <li style="font-size: 12px" class="point"><a href="/web/guidePage/privacy.do">개인정보처리방침</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/monitor.do">영상정보처리기기운영관리방침</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/relationSite.do">관련사이트</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/sitemap.do">사이트맵</a></li>
            <li style="font-size: 12px"><a href="/web/aboutPage/location.do">찾아오시는길</a></li>
        </ul>
    </div>
    <div class="main_tell_box_area">
        <ul class="tel_padding">
            <li class="tel_rmargin" style="display: inline-block;">대표전화 : 02 - 590 - 9999</li>
            <li class="tel_rmargin" style="display: inline-block;">수문정보 자동응답 : 02 - 592 - 7700</li>
            <li style="display: inline-block;">홍수통제 상황실(비상시 운영) : 02 - 590 - 9990 ~ 8</li>
        </ul>
    </div>
    <div class="info">
        <h3><a href="/"><img src="/assets/img/choongangLogo.png"></a></h3>
        <ul style="width: 65%">
            <li style="font-size: 12px">(06501) 서울특별시 서초구 동작대로 328 한강홍수통제소 | 대표전화 : 02-590-9999   |   수문정보자동응답(ARS) : 02-592-7700</li>
            <li style="font-size: 12px">본 홈페이지는 게시된 이메일주소가 자동 수집되는것을 거부하며 이를 위반시 정보통신망법에 의해 처벌됨을 유념하여 주시기 바랍니다.</li>
            <li style="font-size: 12px">Copyright (c) Han River Flood Control Office,  All Right reserved.</li>
        </ul>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/complaint/main.js}"></script>
</html>