<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 민원</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/infoFooter.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/complaint/myComplaint/step2.css}">
    <!--    <link href="/css/account/registerForm.css" rel="stylesheet" type="text/css">-->
</head>
<body style="margin-right: 20%; margin-left: 20%; padding: 0;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/HanRiverMap/info">지도 정보</a></li>
                <li><a href="/complaint/main">민원 게시판</a></li>
                <li><a href="/approval/main">용수 신청</a></li>
                <li><a href="/notice/list">공지 사항</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="title">
    <h3>나의 민원</h3>
</div>
<hr>
<p th:utext="|총 조회건수는 ${total_count}건 입니다.|"></p>
<table border="1">
    <tr>
        <th>등록 번호</th>
        <th>민원 소재지</th>
        <th>제목</th>
        <th>작성일자</th>
        <th>조회수</th>
        <th>상태</th>
    </tr>
    <tr th:if="${list.size > 0}" th:each="com : ${list}">
        <td th:text="${com.cno}" id="cno"></td>
        <td th:text="${com.c_loc}"></td>
        <td><a th:text="${com.ctitle}" th:href="@{/complaint/read(cno=${com.cno})}"></a></td>
        <td th:text="${com.regDate}"></td>
        <td th:text="${com.c_count}"></td>
        <td th:text="${com.status}" id="status"></td>
    </tr>
    <tr th:if="${list.size == 0}">
        <td colspan="7">조회 결과가 없습니다.</td>
    </tr>
</table>
<ul class="pagination pagination-sm" th:if="${total_count}>0" style="justify-content : center;">
    <li th:classappend="${endPage < 6} ? 'page-item disabled' : 'page-item'">
        <a class="page-link"
           th:href="@{/complaint/myComplaint/step2(pageNum=${startPage-5}, startPage=${startPage-5}, cuname=${cuname}, cuphone=${cuphone})}"><<</a>
    </li>
    <li th:each="i:${#numbers.sequence(startPage, endPage)}"
        th:classappend="${pageNum == i} ? 'page-item active' : 'page-item'">
        <a th:href="@{/complaint/myComplaint/step2(pageNum=${i}, startPage=${startPage}, cuname=${cuname}, cuphone=${cuphone})}"
           class="page-link">[[${i}]]</a></li>
    <li th:classappend="${endPage == total_page} ? 'page-item disabled' : 'page-item'">
        <a class="page-link"
           th:href="@{/complaint/myComplaint/step2(pageNum=${endPage+1}, startPage = ${endPage+1}, cuname=${cuname}, cuphone=${cuphone})}">>></a>
    </li>
</ul>

<br>

<div id="footer">

    <div class="mnu">

        <ul class="mn">
            <li style="font-size: 12px"><a href="/web/guidePage/siteGuide.do">홈페이지 이용안내</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/copyright.do">저작권 정책</a></li>
            <li style="font-size: 12px" class="point"><a href="/web/guidePage/privacy.do">개인정보처리방침</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/monitor.do">영상정보처리기기운영관리방침</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/relationSite.do">관련사이트</a></li>
            <li style="font-size: 12px"><a href="/web/guidePage/sitemap.do">사이트맵</a></li>
            <li style="font-size: 12px"><a href="/web/aboutPage/location.do">찾아오시는길</a></li>
        </ul>
    </div>
    <div class="main_tell_box_area">
        <ul class="tel_padding">
            <li class="tel_rmargin" style="display: inline-block;">대표전화 : 02 - 590 - 9999</li>
            <li class="tel_rmargin" style="display: inline-block;">수문정보 자동응답 : 02 - 592 - 7700</li>
            <li style="display: inline-block;">홍수통제 상황실(비상시 운영) : 02 - 590 - 9990 ~ 8</li>
        </ul>
    </div>
    <div class="info">
        <h3><a href="/"><img src="/assets/img/choongangLogo.png"></a></h3>
        <ul style="width: 65%">
            <li style="font-size: 12px">(06501) 서울특별시 서초구 동작대로 328 한강홍수통제소 | 대표전화 : 02-590-9999 | 수문정보자동응답(ARS) :
                02-592-7700
            </li>
            <li style="font-size: 12px">본 홈페이지는 게시된 이메일주소가 자동 수집되는것을 거부하며 이를 위반시 정보통신망법에 의해 처벌됨을 유념하여 주시기 바랍니다.</li>
            <li style="font-size: 12px">Copyright (c) Han River Flood Control Office, All Right reserved.</li>
        </ul>
    </div>

</div>
</body>
<script th:src="@{/js/complaint/myComplaint/step2.js}"></script>
</html>