@charset "UTF-8";
label {
  display: inline-block;
  padding: 10px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  border-radius: 10px;
  height: 20px;
  margin-left: 10px;
}
 input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #999999;
  border-radius: 10px;
  width: 20%;
  font-weight: bold;
}
.float{
	color: red;
}