<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>용수 사용 현황</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/infoFooter_approvalList.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/river/rainFall.css}">
</head>
<body>

<h2>용수 사용 현황</h2>
<hr>
<select id="river">
    <option value="999" selected>------선택해주세요-----</option>
</select>

<div id="result"></div>
<br/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/approval/usage.js}"></script>
<script th:inline="javascript">
    let select = document.getElementById('river');

    let river = /*[[${riverList}]]*/ null;

    for (let i = 0; i < river.length; i++) {
        let option = document.createElement('option');
        option.value = river[i].r_code;
        option.textContent = river[i].r_name;
        select.appendChild(option);
    }
</script>
</html>