<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

	<mappers>
		<!-- 마이바티스 매퍼 XML 파일 -->
		<mapper resource="classpath:mapper/MemberMapper.xml" />
	</mappers>
	
</configuration>
